# ------------------------------------------------------------------------------
# Cargo / Rust
# ------------------------------------------------------------------------------
/target/
**/*.rs.bk

# ------------------------------------------------------------------------------
# OS Env
# ------------------------------------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride

# ------------------------------------------------------------------------------
# IDEs
# ------------------------------------------------------------------------------
.vscode/
.idea/
*.swp
*.swo
docs/audit/